$color-white: #ffffff;
$color-black: #000000;
$color-pink-50: #fce4ec;
$color-pink-100: #f8bbd0;
$color-pink-200: #f48fb1;
$color-pink-300: #f06292;
$color-pink-400: #ec407a;
$color-pink-500: #e91e63;
$color-purple-50: #f3e5f5;
$color-purple-100: #e1bee7;
$color-purple-200: #ce93d8;
$color-purple-300: #ba68c8;
$color-purple-400: #ab47bc;
$color-purple-500: #9c27b0;
$color-indigo-50: #e8eaf6;
$color-indigo-100: #c5cae9;
$color-indigo-200: #9fa8da;
$color-indigo-300: #7986cb;
$color-indigo-400: #5c6bc0;
$color-indigo-500: #3f51b5;